doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Mixpanel JS Tests
        link(rel="stylesheet" href="../../node_modules/mocha/mocha.css")
    body
        h1
            a(href="/tests/new" style="color: inherit; text-decoration: none;")= suiteName || "Mixpanel JS Tests"
        #mocha
        script(type="text/javascript" src="../../node_modules/mocha/mocha.js")
        script(type="text/javascript" src="../../node_modules/chai/chai.js")
        script(type="text/javascript" src="../../node_modules/sinon/pkg/sinon.js")
        if customLibUrl
            script.
                window.MIXPANEL_CUSTOM_LIB_URL = '#{customLibUrl}';
        if snippetUrl
            script(type="text/javascript" src=snippetUrl)
        script(type="text/javascript" src=testUrl)
